name: Java LTS

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ '17', '21', '25' ]
    name: All tests
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - name: Cache Maven local repository
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-java-${{ matrix.java-version }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build and run tests
        run: mvn -B test
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          KID: ${{ secrets.KID }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          TOKEN_ENDPOINT: ${{ secrets.TOKEN_ENDPOINT }}
          ISSUER: ${{ secrets.ISSUER }}
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
          READ_SCOPES: ${{ secrets.READ_SCOPES }}
          WRITE_SCOPES: ${{ secrets.WRITE_SCOPES }}
