name: Prettier

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  prettier:
    runs-on: ubuntu-latest
    name: Check
    steps:
      - uses: actions/checkout@v5
      - name: Cache Maven local repository
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '18'
      - name: Check formatting
        run: cd library && mvn spotless:check
